<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.PerfInterviewMapper">
    
    <resultMap type="PerfInterview" id="PerfInterviewResult">
        <result property="interviewId"    column="interview_id"    />
        <result property="performanceId"    column="performance_id"    />
        <result property="interviewerId"    column="interviewer_id"    />
        <result property="intervieweeId"    column="interviewee_id"    />
        <result property="interviewTime"    column="interview_time"    />
        <result property="keyPoints"    column="key_points"    />
        <result property="strengths"    column="strengths"    />
        <result property="improvements"    column="improvements"    />
        <result property="actionPlan"    column="action_plan"    />
        <result property="feedback"    column="feedback"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectPerfInterviewVo">
        select interview_id, performance_id, interviewer_id, interviewee_id, interview_time, key_points, strengths, improvements, action_plan, feedback, del_flag, create_time, update_time from perf_interview
    </sql>

    <select id="selectPerfInterviewList" parameterType="PerfInterview" resultMap="PerfInterviewResult">
        <include refid="selectPerfInterviewVo"/>
        <where>  
            <if test="performanceId != null "> and performance_id = #{performanceId}</if>
            <if test="interviewerId != null "> and interviewer_id = #{interviewerId}</if>
            <if test="intervieweeId != null "> and interviewee_id = #{intervieweeId}</if>
            <if test="interviewTime != null "> and interview_time = #{interviewTime}</if>
            <if test="keyPoints != null  and keyPoints != ''"> and key_points = #{keyPoints}</if>
            <if test="strengths != null  and strengths != ''"> and strengths = #{strengths}</if>
            <if test="improvements != null  and improvements != ''"> and improvements = #{improvements}</if>
            <if test="actionPlan != null  and actionPlan != ''"> and action_plan = #{actionPlan}</if>
            <if test="feedback != null  and feedback != ''"> and feedback = #{feedback}</if>
        </where>
    </select>
    
    <select id="selectPerfInterviewByInterviewId" parameterType="Long" resultMap="PerfInterviewResult">
        <include refid="selectPerfInterviewVo"/>
        where interview_id = #{interviewId}
    </select>

    <insert id="insertPerfInterview" parameterType="PerfInterview" useGeneratedKeys="true" keyProperty="interviewId">
        insert into perf_interview
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="performanceId != null">performance_id,</if>
            <if test="interviewerId != null">interviewer_id,</if>
            <if test="intervieweeId != null">interviewee_id,</if>
            <if test="interviewTime != null">interview_time,</if>
            <if test="keyPoints != null">key_points,</if>
            <if test="strengths != null">strengths,</if>
            <if test="improvements != null">improvements,</if>
            <if test="actionPlan != null">action_plan,</if>
            <if test="feedback != null">feedback,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="performanceId != null">#{performanceId},</if>
            <if test="interviewerId != null">#{interviewerId},</if>
            <if test="intervieweeId != null">#{intervieweeId},</if>
            <if test="interviewTime != null">#{interviewTime},</if>
            <if test="keyPoints != null">#{keyPoints},</if>
            <if test="strengths != null">#{strengths},</if>
            <if test="improvements != null">#{improvements},</if>
            <if test="actionPlan != null">#{actionPlan},</if>
            <if test="feedback != null">#{feedback},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updatePerfInterview" parameterType="PerfInterview">
        update perf_interview
        <trim prefix="SET" suffixOverrides=",">
            <if test="performanceId != null">performance_id = #{performanceId},</if>
            <if test="interviewerId != null">interviewer_id = #{interviewerId},</if>
            <if test="intervieweeId != null">interviewee_id = #{intervieweeId},</if>
            <if test="interviewTime != null">interview_time = #{interviewTime},</if>
            <if test="keyPoints != null">key_points = #{keyPoints},</if>
            <if test="strengths != null">strengths = #{strengths},</if>
            <if test="improvements != null">improvements = #{improvements},</if>
            <if test="actionPlan != null">action_plan = #{actionPlan},</if>
            <if test="feedback != null">feedback = #{feedback},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where interview_id = #{interviewId}
    </update>

    <delete id="deletePerfInterviewByInterviewId" parameterType="Long">
        delete from perf_interview where interview_id = #{interviewId}
    </delete>

    <delete id="deletePerfInterviewByInterviewIds" parameterType="String">
        delete from perf_interview where interview_id in 
        <foreach item="interviewId" collection="array" open="(" separator="," close=")">
            #{interviewId}
        </foreach>
    </delete>
</mapper>