<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.perf.mapper.PerfPerformanceMapper">
    
    <resultMap type="PerfPerformanceVO" id="PerfPerformanceResult">
        <result property="id"    column="id"    />
        <result property="performanceNo"    column="performance_no"    />
        <result property="periodId"    column="period_id"    />
        <result property="periodName"    column="period_name"    />
        <result property="templateId"    column="template_id"    />
        <result property="templateName"    column="template_name"    />
        <result property="userId"    column="user_id"    />
        <result property="nickName"    column="nick_name"    />
        <result property="deptId"    column="dept_id"    />
        <result property="deptName"    column="dept_name"    />
        <result property="selfScore"    column="self_score"    />
        <result property="finalScore"    column="final_score"    />
        <result property="currentStep"    column="current_step"    />
        <result property="status"    column="status"    />
        <result property="rejectReason"    column="reject_reason"    />
        <result property="submitTime"    column="submit_time"    />
        <result property="confirmTime"    column="confirm_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectPerfPerformanceVo">
        select id, performance_no, period_id, template_id, user_id, dept_id, self_score, final_score, current_step, status, reject_reason, submit_time, confirm_time, del_flag, create_by, create_time, update_by, update_time from perf_performance
    </sql>

    <select id="selectPerfPerformanceList" parameterType="PerfPerformance" resultMap="PerfPerformanceResult">
        SELECT
        a.*,
        b.period_name,
        c.template_name,
        d.nick_name,
        e.dept_name
        FROM
        perf_performance a
        LEFT JOIN perf_period b ON a.period_id = b.period_id
        LEFT JOIN perf_template c ON a.template_id = c.id
        LEFT JOIN sys_user d ON a.user_id = d.user_id
        LEFT JOIN sys_dept e ON a.dept_id = e.dept_id
        <where>
            a.del_flag = '0'
            <if test="performanceNo != null  and performanceNo != ''"> and a.performance_no = #{performanceNo}</if>
            <if test="periodId != null "> and a.period_id = #{periodId}</if>
            <if test="templateId != null "> and a.template_id = #{templateId}</if>
            <if test="userId != null "> and a.user_id = #{userId}</if>
            <if test="deptId != null "> and a.dept_id = #{deptId}</if>
            <if test="selfScore != null "> and a.self_score = #{selfScore}</if>
            <if test="finalScore != null "> and a.final_score = #{finalScore}</if>
            <if test="currentStep != null "> and a.current_step = #{currentStep}</if>
            <if test="status != null  and status != ''"> and a.status = #{status}</if>
            <if test="rejectReason != null  and rejectReason != ''"> and a.reject_reason = #{rejectReason}</if>
            <if test="submitTime != null "> and a.submit_time = #{submitTime}</if>
            <if test="confirmTime != null "> and a.confirm_time = #{confirmTime}</if>
        </where>
        order by a.create_time desc
    </select>
    
    <select id="selectPerfPerformanceById" parameterType="Long" resultMap="PerfPerformanceResult">
        <include refid="selectPerfPerformanceVo"/>
        where id = #{id}
    </select>

    <insert id="insertPerfPerformance" parameterType="PerfPerformance" useGeneratedKeys="true" keyProperty="id">
        insert into perf_performance
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="performanceNo != null and performanceNo != ''">performance_no,</if>
            <if test="periodId != null">period_id,</if>
            <if test="templateId != null">template_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="selfScore != null">self_score,</if>
            <if test="finalScore != null">final_score,</if>
            <if test="currentStep != null">current_step,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="rejectReason != null">reject_reason,</if>
            <if test="submitTime != null">submit_time,</if>
            <if test="confirmTime != null">confirm_time,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="performanceNo != null and performanceNo != ''">#{performanceNo},</if>
            <if test="periodId != null">#{periodId},</if>
            <if test="templateId != null">#{templateId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="selfScore != null">#{selfScore},</if>
            <if test="finalScore != null">#{finalScore},</if>
            <if test="currentStep != null">#{currentStep},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="rejectReason != null">#{rejectReason},</if>
            <if test="submitTime != null">#{submitTime},</if>
            <if test="confirmTime != null">#{confirmTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updatePerfPerformance" parameterType="PerfPerformance">
        update perf_performance
        <trim prefix="SET" suffixOverrides=",">
            <if test="performanceNo != null and performanceNo != ''">performance_no = #{performanceNo},</if>
            <if test="periodId != null">period_id = #{periodId},</if>
            <if test="templateId != null">template_id = #{templateId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="selfScore != null">self_score = #{selfScore},</if>
            <if test="finalScore != null">final_score = #{finalScore},</if>
            <if test="currentStep != null">current_step = #{currentStep},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="rejectReason != null">reject_reason = #{rejectReason},</if>
            <if test="submitTime != null">submit_time = #{submitTime},</if>
            <if test="confirmTime != null">confirm_time = #{confirmTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePerfPerformanceById" parameterType="Long">
        update perf_performance set del_flag = '2' where id = #{id}
    </delete>

    <delete id="deletePerfPerformanceByIds" parameterType="String">
        update perf_performance set del_flag = '2' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>