<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.perf.mapper.PerfPerformanceContentScoreMapper">
    
    <resultMap type="PerfPerformanceContentScore" id="PerfPerformanceContentScoreResult">
        <result property="id"    column="id"    />
        <result property="contentId"    column="content_id"    />
        <result property="scoreUserId"    column="score_user_id"    />
        <result property="score"    column="score"    />
        <result property="remark"    column="remark"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectPerfPerformanceContentScoreVo">
        select id, content_id, score_user_id, score, remark, del_flag, create_by, create_time, update_by, update_time from perf_performance_content_score
    </sql>

    <select id="selectPerfPerformanceContentScoreList" parameterType="PerfPerformanceContentScore" resultMap="PerfPerformanceContentScoreResult">
        <include refid="selectPerfPerformanceContentScoreVo"/>
        <where>  
            <if test="contentId != null "> and content_id = #{contentId}</if>
            <if test="scoreUserId != null "> and score_user_id = #{scoreUserId}</if>
            <if test="score != null "> and score = #{score}</if>
        </where>
    </select>
    
    <select id="selectPerfPerformanceContentScoreById" parameterType="Long" resultMap="PerfPerformanceContentScoreResult">
        <include refid="selectPerfPerformanceContentScoreVo"/>
        where id = #{id}
    </select>
    <select id="getWaitScoreUserList" resultType="com.ruoyi.perf.domain.PerfPerformanceContentScore">
        SELECT
            *
        FROM
            perf_performance_content_score
        WHERE
            del_flag = '0'
          AND score_user_id = #{userId}
          <if test="pageDTO.ifScore != null"> AND if_score = #{pageDTO.ifScore}</if>
          AND id IN (
            SELECT MAX(id)
            FROM perf_performance_content_score
            WHERE score_user_id = #{userId}
            <if test="pageDTO.ifScore != null"> AND if_score = #{pageDTO.ifScore}</if>
            GROUP BY performance_id
        )
        ORDER BY id DESC
    </select>
    <select id="getPerformanceScoreDetailByPerformanceId"
            resultType="com.ruoyi.perf.domain.vo.PerfScoreItemVO">
        SELECT
            a.*,
            b.self_target,
            b.self_result,
            b.self_score,
            b.self_comment,
            c.item_name,
            c.item_type,
            c.weight,
            c.score_standard,
            c.min_score,
            c.max_score
        FROM
            perf_performance_content_score a
                LEFT JOIN perf_performance_content b ON b.id = a.content_id
                LEFT JOIN perf_template_item c ON c.id = a.item_id
        WHERE
            a.performance_id = #{performanceId}
          AND a.score_user_id = #{userId}
    </select>
    <select id="getPerformanceScoreByPerformanceIdList"
            resultType="com.ruoyi.perf.domain.vo.PerfContentScoreVO">
        SELECT
            p.*,
            u.user_id,
            u.nick_name AS score_user_name
        FROM
            perf_performance_content_score p
                LEFT JOIN sys_user u ON u.user_id = p.score_user_id
        WHERE
            p.del_flag = '0'
          AND p.performance_id = #{performanceId};
    </select>

    <insert id="insertPerfPerformanceContentScore" parameterType="PerfPerformanceContentScore" useGeneratedKeys="true" keyProperty="id">
        insert into perf_performance_content_score
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="contentId != null">content_id,</if>
            <if test="scoreUserId != null">score_user_id,</if>
            <if test="score != null">score,</if>
            <if test="remark != null">remark,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="contentId != null">#{contentId},</if>
            <if test="scoreUserId != null">#{scoreUserId},</if>
            <if test="score != null">#{score},</if>
            <if test="remark != null">#{remark},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updatePerfPerformanceContentScore" parameterType="PerfPerformanceContentScore">
        update perf_performance_content_score
        <trim prefix="SET" suffixOverrides=",">
            <if test="contentId != null">content_id = #{contentId},</if>
            <if test="scoreUserId != null">score_user_id = #{scoreUserId},</if>
            <if test="score != null">score = #{score},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePerfPerformanceContentScoreById" parameterType="Long">
        delete from perf_performance_content_score where id = #{id}
    </delete>

    <delete id="deletePerfPerformanceContentScoreByIds" parameterType="String">
        delete from perf_performance_content_score where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>